<h2>Lista Empleados</h2>

<table class="table table-striped">
    <thead class="table-dark">
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Email</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let empleado of empleados">
            <td>{{empleado.id}}</td>
            <td>{{empleado.nombre}}</td>
            <td>{{empleado.apellido}}</td>
            <td>{{empleado.email}}</td>
            <td>
                <button (click)="actualizarEmpleado(empleado.id)" class="btn btn-info">Editar</button>
                <button (click)="eliminarEmpleado(empleado.id)" class="btn btn-danger mx-4">Eliminar</button>
            </td>
        </tr>
    </tbody>
</table>